.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landingPage {
  position: relative;
  display: inline;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
}

.landingPageText {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  /* margin-right: 10px; */

  cursor: pointer;
}

.landingPageText2 {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  margin-left: 10px;

  cursor: pointer;
}

.landingImage {
  width: 100%;
  filter: brightness(60%);
}

.landingPageText3 {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  filter: brightness(100%);
}

.campaignCards {
  cursor: pointer;
}

.campaignCards:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.donationCards {
  cursor: pointer;
}

.donationCards:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.commentCards {
  cursor: pointer;
}

.commentCards:hover {
  cursor: pointer;
  filter: brightness(93%);
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: black;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%;
  color: white;
}

.footerPNG {
  display: inline-flex;
  height: 35px;
  cursor: pointer;
  align-content: end;
}

.footerPngAlignment {
  display: flex;
  justify-content: flex-end;
}
