.container {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  margin-top: 10px;
}


.imagescontainer {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border1 {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 2s;
  position: relative;
  border: 2px solid rgb(0, 0, 0);
}
.border1:hover {
  border: 2px solid rgb(0, 0, 0);
}
.card {
  height: 379px;
  width: 300px;
  background: #000000;
  border-radius: 10px;
  transition: "background 2.0s";
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url(./Images/joe.JPG) center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url(./Images/joe.JPG) left center no-repeat;
  background-size: 600px;
  background-position: center;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url(./Images/steve.jpg) center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url(./Images/steve.jpg) left center no-repeat;
  background-size: 600px;
  background-position: center;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url(./Images/randy.jpg) center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url(./Images/randy.jpg) left center no-repeat;
  background-size: 600px;
  background-position: top;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
.card3 {
  background: url(./Images/austin.jpg) center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url(./Images/austin.jpg) left center no-repeat;
  background-size: 600px;
  background-position: top;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}